/** Write your CSS in here **/
body {
    background-color: rgb(217, 250, 248);
}

#pictures {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
#buttons {
    display: flex;
    justify-content: center;
}